@import url('./style/_index.css');

:root {
  --main-color: rgba(66, 1, 125, 0.18);
  --highter-color : rgba(67, 39, 125, 0.20);
  --second-color: black;
}


body{
  background-color:var(--main-color);
  color: var(--second-color);
}

.App-logo {
  margin-top: 50px;
  width: 100%;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {tart

    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header div:not(.TREETOP) {
  z-index: 1;
  margin: auto;
  width: 33vw;
  color: var(--second-color);
}
.App-header div:not(.Description, .Image) p {
  margin-top: 10vh;
  text-align: start;
}

.App-link {
  color: #28395b;
  text-decoration: none;
}




iframe{
 opacity: 1;
}


.displayNone{
  display: none;
}


.Logo {
  height: 7vh;
  min-width: 12%;
  max-width: 20%;
}

.Mini_logo {
  height: 5vh;
}

.blur{
  filter: blur(5px); /* Augmentez la valeur (5px) pour ajuster le flou */
}


.App2 {
  text-align: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
}
h1{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  margin: 0;
  font-size: 200%;
}
.Flag {
  margin: 0 1vw;
  height: 4vh;
  width: 4vw;
}
.language{
  padding-top: 0.5vh;
  display: flex;
  justify-content: center;
}


.top{
  height: 5vh;
  width: 100vw;

}

.mid{
  margin: auto;
  display: flex;
  height: 90vh;
  width: 99vw;
  box-shadow: 0 0 10px var(--second-color);
  margin-left:0.5vw;
  margin-right:0.5vw;
}
.left {
  width: 19.5vw;
  height: 100%;
  border: solid 1px var(--second-color);

}
.left > div:not(.Image){
  margin: 0 4vw;
  border: solid 5px var(--second-color);
  border-radius: 50%;
}
.left > div:not(.Image):hover{
  cursor: pointer;
  background-color: var(--highter-color);
}

.middle{
  width: 60vw;
  height: 100%;
  border: solid 1px var(--second-color);
}
.middle iframe{
  display: none;
}
.right {
  width: 19.5vw;
  height: 100%;
  border: solid 1px var(--second-color);
}
.right > h2{
  border: solid 5px var(--second-color);
  border-radius: 20%;
  padding: 20px;
  margin: 5px;
}
.clicked{
  background-color: var(--highter-color);
}
.right > h2:hover{
  cursor: pointer;
  background-color: var(--highter-color);
}
.bot{
  height: 5vh;
  width: 100vw;
}


